<div class="p-3">
  <div class="mt-4 p-5 bg-dark d-grid text-white rounded">
    <div class="card-body">
      <h1>About</h1>
      <p>Pruebas de software, clase impartida por el maestro 'Gabriel Navarro Salcedo', el cual tiene una maestria en
        Administracion de Negocios por la Universidad de Guadalajara (UdeG) y el Concejo Nacional de Ciencia y
        Tecnología (CONACYT), Egresado como Ingeniero en Computación con especialidad en Software por la Universidad
        de Guadalajara</p>
    </div>
  </div>
</div>