<div class="mt-4 p-5 bg-dark d-grid text-white rounded">
  <h1 class="display-4">Software testing</h1>
  <p class="lead">This is an app for the subject of software testing</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga ipsam enim odio porro dolorum excepturi id
    asperiores itaque reprehenderit, praesentium similique ab, minima libero mollitia quia at ducimus quisquam
    magnam!</p>
  <a href="https://http.cat/" target="_blank" class="btn btn-warning">Sitio de gatitos</a>
</div>