<div class="container p-5 my-5 bg-dark text-white">
  <h1>Directions</h1>
  <p>El objetivo de este curso es que conozcan la utilidad de la teoría en la práctica para cuya obtención en el transcurso del curso emergerán dudas, preguntas de las técnicas adecuadas para resolver los problemas</p>
</div>
