<div class="container p-5 my-5 bg-dark text-white card-body">
  <input class="form-control" type="text" value="Abraham - abrahamup7@gmail.com" aria-label="Disabled input example" Abraham>
  <input class="form-control" type="text" value="Dev - dev@dev.com" aria-label="Disabled input example" Abraham>
</div>
