<div class="container p-5 my-5 bg-dark text-white">
  <h1>
    Evaluation form
  </h1>

  <br>

  <p>
    Evaluación diagnóstica
    <br>Cuestionario en línea de conocimientos previos</br>
    SQA
    <br>Evaluación Formativa</br>
    Lista de cotejo
    <br>Rúbrica</br>
    Cuestionarios
  </p>
</div>