<div class="footer mt-auto py-3 w-100 py-3 position-absolute bottom-0 start-50 translate-middle-x">
  <footer class="text-center text-lg-start card-header" style="background-color: #db6930;">
    <div class="p-1">
      <img src="/img/logo.png" class="mx-auto d-block logo" style="width: 60px">
    </div>
    <div class="container d-flex justify-content-center py-2">
      <a href="https://www.facebook.com/abrahamupgamer.urrutiapalomar/" target="_blank" type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
        <i class='bx bxl-facebook-circle'></i>
      </a>
      <a href="https://www.instagram.com/abrahamup_skywalker/" target="_blank" type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
        <i class='bx bxl-instagram' ></i>
      </a>
      <a href="https://www.linkedin.com/in/abraham-urrutia-ab5abb191/" target="_blank" type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
        <i class='bx bxl-linkedin-square' ></i>
      </a>
    </div>

    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Chunchunsque, Inc
    </div>
  </footer>
  
</div>