<footer class="bg-dark text-center text-white mt-auto bottom">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <div class="p-1">
      <img src="/img/logo.png" class="mx-auto d-block" style="width: 60px">
    </div>
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998;"
        href="https://www.facebook.com/abrahamupgamer.urrutiapalomar/"
        target="_blank"
        role="button"
        ><i class='bx bxl-facebook-circle'></i></a>
      
      <!-- Instagram -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac;"
        href="https://www.instagram.com/abrahamup_skywalker/"
        target="_blank"
        role="button"
        ><i class='bx bxl-instagram'></i></a>

      <!-- Linkedin -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #0082ca;"
        href="https://www.linkedin.com/in/abraham-urrutia-ab5abb191/"
        target="_blank"
        role="button"
        ><i class='bx bxl-linkedin-square' ></i></a>
      <!-- Github -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #333333;"
        href="https://github.com/AbrahamupSky" target="_blank" type="button"
        target="_blank"
        role="button"
        ><i class='bx bxl-github'></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Chunchunsque, Inc
  </div>
  <!-- Copyright -->
</footer>
