<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Software Testing</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        {{#if user}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Projects
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="/notes/new-note">New Note</a></li>
              <li><a class="dropdown-item" href="/notes">All notes</a></li>
            </ul>
          </li>

          <li class="nav-item active">
              <a class="nav-link" href="/users/evaluation">Evaluation</span></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Maintenance
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Directions</a></li>
              <li><a class="dropdown-item" href="#">Employees</a></li>
              <li><a class="dropdown-item" href="#">Users</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reports
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Schedule of activities</a></li>
              <li><a class="dropdown-item" href="#">Evaluation form</a></li>
              <li><a class="dropdown-item" href="#">Technical sheet by goal</a></li>
              <li><a class="dropdown-item" href="#">Goal progress report</a></li>
              <li><a class="dropdown-item" href="#">Corrective action sheet</a></li>
              <li><a class="dropdown-item" href="#">General report of projects by direction</a></li>
              <li><a class="dropdown-item" href="#">Consolidated report of projects by direction</a></li>
              <li><a class="dropdown-item" href="#">Minec projectss general report</a></li>
            </ul>
          </li>

          <ul>
            <li class="nav-item active">
              <a class="nav-link" href="/users/logout">Logout</a>
            </li>
          </ul>
        {{else}}
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/users/signin">Signin</a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" href="/users/signup">Signup</a>
            </li>
          </ul>
        {{/if}}
        <div class="ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Help
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="/about">About</a></li>
            </ul>
          </li>
        </div>
      </ul>

    </div>
  </div>
</nav>