<div class="container p-5 my-5 bg-dark text-white">
  <h1>Schedule of Activities</h1>
  
  <p>1. Ejercicios y proyectos (30%): serán acciones o conjunto de acciones
  orientadas a la comprobación del dominio adquirido en el manejo de un
  determinado conocimiento. Supone una conducta que produce una
  respuesta prefijada y que se da repetidamente en todo el alumnado que lo
  realiza correctamente. La propuesta de ejercicios y proyectos permite la
  práctica suficiente de todos los conocimientos requeridos para realizar la
  actividad relacionada con corrección. Hay ejercicios que refuerzan
  contenidos previos, básicos y de ampliación. Los ejercicios dan entrada a la
  posibilidad de adaptación a otros niveles de competencia, por lo que se
  harán algunos en clase y otros fuera de la misma.
</p>
<p>
  2. Actividades (20%): serán acciones o conjunto de acciones orientadas a la
  adquisición de un conocimiento nuevo o la utilización de algún conocimiento
  de forma ya adquirido de forma diferente y contextualizada. Se trata de
  comportamientos que producen una respuesta diferenciada de una gran
  variedad. Todas las actividades permiten una respuesta diferenciada en cada
  alumno y producen una gran variedad de respuestas correctas además hará
  que los estudiantes interactúen con otros estudiantes y con el maestro.
</p>
<p>
  3. Tareas (10%): serán acciones orientadas a la resolución de una
  situación-problema, dentro de un contexto definido, por medio de la
  combinación de todos los saberes disponibles que permiten la elaboración de
  un producto relevante. Resuelve una situación problema. Diseñadas para
  trabajo colaborativo fuera de clase.
</p>
<p>
  4. Exposición (20%): serán acciones orientadas a mejorar las habilidades de
  comunicación, presentación de ideas y búsqueda de información.
</p>
<p>
  5. Exámenes (20%): serán acciones encaminadas a integrar en el proceso de
  enseñanza-aprendizaje los niveles o elementos de competencia asimilados
  mediante la reflexión del estudiante sobre su expertez, formativa, con un
  eficiente feedback sobre los progresos del estudiante, como elemento clave,
  sumativa, haciendo valoración del trabajo del estudiante, mediante una
  “rendición de cuentas”.
</p>
</div>