<div class="p-2">
  <div class="card p-1 mx-auto bg-dark text-white" style="width: 30rem;">
    <img src="/img/3.png" class="card-img-top">
    <div class="card-body">
      <p class="card-text">This would be the technical sheet for our subject of Software Testing</p>
    </div>
  </div>
</div>